<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0"><%= "Players" %></h1>
    <%= link_to "New Player", new_player_path, class: "btn btn-success" %>
  </div>

  <% if @players.any? %>
    <div class="list-group">
      <% @players.each do |player| %>
        <%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  <% else %>
    <p><%= "No players found." %></p>
  <% end %>
</div>
